In [1]:
import pandas as pd

In [33]:
folder = "batch-2"
filename = "Under-Armour-Charged-Assert-Running"

In [34]:
# reading csv files
df = pd.read_csv(f'scraped_reviews/{folder}/{filename}-REVIEW.csv')
df2 = pd.read_csv(f'{filename}-PROFILE.csv')
df3 = pd.read_csv(f'{filename}-RANKING.csv')
print(f'{len(df)} {len(df2)} {len(df3)}')
df3

350 350 350

                                       page_url  ranking
0    amzn1.account.AHJ6IAAQIWS6V4IGM6URVRQTJ3KA   192287
1    amzn1.account.AFL2WEYUMYM7CISIAOAHAGHF5MFA   108965
2    amzn1.account.AHQBCQJCEBSTNARVWF4NSONS6G5Q    91881
3    amzn1.account.AF4VY3VGDKDER6VNEIRDPOUK3FVQ   327489
4    amzn1.account.AEYPSL2X6JLQ5GJON4XTG6HDWJQA  1260225
..                                          ...      ...
345  amzn1.account.AEMWZS6MWM5RJW2AZYS4FNQIYTRA   297894
346  amzn1.account.AEVJ32WHEC5BUOKWWTSI2MP2PKOA  6140024
347  amzn1.account.AEXFAQHQPV2SCQD2RTHQ4ZR2DS7Q  9674006
348  amzn1.account.AFQW33IZHJHQYUXKYSWKQVL4IJOQ  4080824
349  amzn1.account.AHRECWJ2D2WIUNJ55XWRLIEDE3SQ   106212

[350 rows x 2 columns]

In [35]:
# df.author_profile_url.str.replace("/gp/profile/", "")

In [36]:
# df.drop_duplicates(subset='author_profile_url', keep="last")
df = df.drop_duplicates('author_profile_url', keep='last')
df2 = df2.drop_duplicates('page_url', keep='last')
df3 = df3.drop_duplicates('page_url', keep='last')
print(f'{len(df)} {len(df2)} {len(df3)}')

340 340 340

In [37]:
output1 = pd.merge(df2, df3, 
                   on='page_url', 
                   how='left')
output1

,helpful_votes,page_url,total_review,visibility_status,ranking
0,"1,012",amzn1.account.AHJ6IAAQIWS6V4IGM6URVRQTJ3KA,108,Public,192287
1,796,amzn1.account.AFL2WEYUMYM7CISIAOAHAGHF5MFA,42,Public,108965
2,387,amzn1.account.AHQBCQJCEBSTNARVWF4NSONS6G5Q,49,Public,91881
3,227,amzn1.account.AF4VY3VGDKDER6VNEIRDPOUK3FVQ,30,Public,327489
4,152,amzn1.account.AEYPSL2X6JLQ5GJON4XTG6HDWJQA,15,Public,1260225
...,...,...,...,...,...
335,14,amzn1.account.AEMWZS6MWM5RJW2AZYS4FNQIYTRA,42,Public,297894
336,34,amzn1.account.AEVJ32WHEC5BUOKWWTSI2MP2PKOA,47,Public,6140024
337,20,amzn1.account.AEXFAQHQPV2SCQD2RTHQ4ZR2DS7Q,31,Public,9674006
338,7,amzn1.account.AFQW33IZHJHQYUXKYSWKQVL4IJOQ,33,Public,4080824
339,502,amzn1.account.AHRECWJ2D2WIUNJ55XWRLIEDE3SQ,237,Public,106212

In [38]:
df.rename(columns = {"author_profile_url": "page_url"}, inplace=True)
# df

In [39]:
output_2=pd.merge(df, output1, on='page_url', how='left')
# output_2
output_2.rename(columns = {"page_url": "author_profile_url"}, inplace=True)
output_2

,author,author_profile_url,date_of_review,image_num,num_of_comments,pageURL,rating,review_content,title,verified,votes_helpful,helpful_votes,total_review,visibility_status,ranking
0,M. Nelson,amzn1.account.AHJ6IAAQIWS6V4IGM6URVRQTJ3KA,"Reviewed in the United States on October 21, 2019",0,NaN,https://www.amazon.com/Under-Armour-Charged-As...,5.0 out of 5 stars,"I discarded my other shoes, I just felt that I...",This manufacturer does not endorse that one fo...,Size: 12.5Color: Black (003)/BlackVerified Pur...,794 people found this helpful,"1,012",108,Public,192287
1,Dellah T.,amzn1.account.AFL2WEYUMYM7CISIAOAHAGHF5MFA,"Reviewed in the United States on July 25, 2019",0,NaN,https://www.amazon.com/Under-Armour-Charged-As...,5.0 out of 5 stars,"Shoes fit great, look good and feel like they ...",Fit Great and They're Not Made By Nike,Size: 10Color: Academy Blue (401)/WhiteVerifie...,514 people found this helpful,796,42,Public,108965
2,Shelby Abel,amzn1.account.AHQBCQJCEBSTNARVWF4NSONS6G5Q,"Reviewed in the United States on July 7, 2019",0,NaN,https://www.amazon.com/Under-Armour-Charged-As...,5.0 out of 5 stars,I’m sooooooo impressed with these shoes. Under...,Comfortable,Size: 8.5Color: Black (003)/BlackVerified Purc...,281 people found this helpful,387,49,Public,91881
3,Iris,amzn1.account.AF4VY3VGDKDER6VNEIRDPOUK3FVQ,"Reviewed in the United States on August 14, 2019",3,NaN,https://www.amazon.com/Under-Armour-Charged-As...,5.0 out of 5 stars,My son wears a size 15 and was in need of blac...,Trusted brand,Verified Purchase,169 people found this helpful,227,30,Public,327489
4,RSK,amzn1.account.AEYPSL2X6JLQ5GJON4XTG6HDWJQA,"Reviewed in the United States on July 7, 2019",1,NaN,https://www.amazon.com/Under-Armour-Charged-As...,4.0 out of 5 stars,UPDATE: I’m keeping these. On learning further...,"Cushioned shoe, great for outdoor activities, ...",Size: 8Color: Academy Blue (401)/WhiteVerified...,144 people found this helpful,152,15,Public,1260225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,loralee,amzn1.account.AEMWZS6MWM5RJW2AZYS4FNQIYTRA,"Reviewed in the United States on September 17,...",0,NaN,https://www.amazon.com/Under-Armour-Charged-As...,5.0 out of 5 stars,I bought these as an at home pair of shoes for...,Nice shoes,Size: 10.5 X-WideColor: Black/WhiteVerified Pu...,NaN,14,42,Public,297894
336,Eric,amzn1.account.AEVJ32WHEC5BUOKWWTSI2MP2PKOA,"Reviewed in the United States on January 13, 2021",0,NaN,https://www.amazon.com/Under-Armour-Charged-As...,5.0 out of 5 stars,I have a difficult time finding shoes that are...,Great for work or working out.,Size: 9.5 X-WideColor: Black/WhiteVerified Pur...,NaN,34,47,Public,6140024
337,John M.,amzn1.account.AEXFAQHQPV2SCQD2RTHQ4ZR2DS7Q,"Reviewed in the United States on July 13, 2021",0,NaN,https://www.amazon.com/Under-Armour-Charged-As...,2.0 out of 5 stars,Not one of the better under armour products. I...,Not Under Armour Quality.,Size: 12Color: Black/WhiteVerified Purchase,NaN,20,31,Public,9674006
338,Thomas,amzn1.account.AFQW33IZHJHQYUXKYSWKQVL4IJOQ,"Reviewed in the United States on October 26, 2021",0,NaN,https://www.amazon.com/Under-Armour-Charged-As...,1.0 out of 5 stars,Switched to these from some Brooks running sho...,Don't just blindly trust because of the name b...,Size: 12Color: Black/WhiteVerified Purchase,NaN,7,33,Public,4080824
339,Mjolner,amzn1.account.AHRECWJ2D2WIUNJ55XWRLIEDE3SQ,"Reviewed in the United States on May 21, 2020",0,NaN,https://www.amazon.com/Under-Armour-Charged-As...,5.0 out of 5 stars,I had a pair of UA's that looked alot like the...,"Sharp looking, tough sneaks",Size: 12Color: Black/WhiteVerified Purchase,NaN,502,237,Public,106212

In [40]:
final = output_2.drop_duplicates('author_profile_url', keep='last')
print(len(final))

340

In [41]:
main_folder = "scraped_reviews/"
category_folder = "batch-2-completed/"
file_name = f"{filename}-REVIEW"
extension = ".csv"

In [42]:
final.to_csv(f"{main_folder + category_folder + file_name + extension}", index=False)

In [ ]:
# scraped_reviews/Luggage/unfinished

In [ ]:
# data2 = pd.read_csv('Contigo-Handled-AUTOSEAL-Vacuum-Insulated-Easy-Clean_PROFILE.csv')
# data2[:2]

In [ ]:
# # using merge function by setting how='left'
# output2 = pd.merge(data1, data2, 
#                    on='pageURL', 
#                    how='left')
  
# # displaying result
# print(output2)